//
   Created by andres.montoya on 4/07/2016.

extends ../../layout.jade
block contenido
    div(class="col-md-6 remove-float center-block big-top-space")
        h1 Upload new image
        form(action="/app/images/#{imagen.id}?_method=PUT", method="POST")
            div(class="form-group")
                label(for="title") Title
                input(type="text", name="title", placeholder="title for image", id="title", class="form-control", value="#{imagen.title}")

            div(class="row top-space")
                div(class="col-xs-12 col-sm-6")
                    input(type="submit" value="Save" class="btn btn-info")
