//
   Created by andres.montoya on 4/07/2016.

extends ./layout.jade
block contenido
    div(class="col-md-8 remove-float center-block text-center big-top-space")
        h1 Welcome to NodeWorld
        a(href="/login" class="right-space") Log in
        a(href="/signup") Sign up