//
   Created by andres.montoya on 4/07/2016.

doctype html
html(lang="es")
    head
        title PictureEasy
        meta(charset="utf-8")
        link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet")
        link(href="/public/css/app.css" rel="stylesheet")
    body
        nav(class="large-padding black white-text")
            ul
                li
                    a(href="/app") Home
                li
                    a(href="/app/images/") My pictures
        block contenido